<a href=""></a><!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Knight Bootstrap Template - Index</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="../static/assets/img/favicon.png" rel="icon" />
    <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="../static/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="../static/assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="../static/assets/vendor/venobox/venobox.css" rel="stylesheet" />
    <link
      href="../static/assets/vendor/owl.carousel/../static/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="../static/assets/css/style.css" rel="stylesheet" />

    <!-- =======================================================
  * Template Name: Knight - v2.2.1
  * Template URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header
      id="header"
      class="d-flex align-items-center"
      style="background-color: #040404"
    >
      <div class="container">
        <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
        <div class="logo d-block d-lg-none">
          <a href="{{url_for('mainlogo.main')}}"
            ><img src="../static/assets/img/희열.gif" alt="" class="img-fluid"
          /></a>
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul class="nav-inner">
            <li class="active"><a href="{{url_for('main1.main1_')}}">Home</a></li>
            <li class="drop-down">
              <a href="">About</a>
              <ul>
                <li><a href="{{url_for('about_us.about_us_')}}">About Us</a></li>
                <li><a href="{{url_for('team.team_')}}">Team</a></li>
              </ul>
            </li>
            <li><a href="{{url_for('services.services_')}}">Services</a></li>

            <li class="nav-logo">
              <a href="{{url_for('mainlogo.main')}}"
                ><img src="../static/assets/img/nomove_희열.png" alt="" class="img-fluid"
              /></a>
            </li>

            <li><a href="{{url_for('stack.stack_')}}">Stack</a></li>
            <li><a href="{{url_for('pricing.pricing_')}}">Pricing</a></li>
            <li><a href="{{url_for('contact.contact_')}}">Contact</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->
    <!-- ======= All music Section ======= -->
    <section id="all_music" class="all_music" style="background-color: #e39eb0">
      <div class="container">
        <div class="section-title" data-aos="fade-up">
          <h1><strong>전체 음원</strong></h1>
        </div>
        <div class="input-group">
          <form action='/all_music/search' method='GET' style="float:left;">
            <input
              type="text"
              class="form-control rounded"
              placeholder="Search"
              aria-label="Search"
              aria-describedby="search-addon"
              name="search_keyword"
              style="width:500;float:left;"
            />
          <button type="submit" class="btn btn-outline-primary" style="float:right;">search</button>
        </form>
        </div>

        {% if playlist %}
        <!-- 곡 리스트 띄워주기 -->
        <div>
          {% for song in playlist %}
          <li> <a href="/songinfo/{{song[1]}}">{{song[0]}}</a>
            <button type="submit" class="btn btn-primary">버튼</button>
          </li>
          {% endfor %}
        </div>
        

        <!-- 페이지네이션을 위한 코드 시작 -->
        {% if block_start - 1 > 0 %}
        <a href="{{url_for('all_music.search', search_keyword=search_keyword, page=block_start - 1)}}">[이전]</a>
        {% endif %}

        {% for i in range(block_start, block_end + 1)%}
            <!-- 데이터가 존재하지 않는 페이지는 화면에 나타내지 않기 위한 조건문 -->
            {% if i > last_page_num %}

            {% else %}
                {% if i == page %}
                    <b>{{ i }}</b>
                {% else %}
                    <a href="{{url_for('all_music.search', search_keyword=search_keyword, page=i)}}">{{ i }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if block_end < last_page_num %}
            <a href="{{url_for('all_music.search', search_keyword=search_keyword, page=block_end + 1)}}">[다음]</a>
        {% endif %}
        <!-- 페이지네이션을 위한 코드 끝 -->

      </div>
      {% endif %}
    </section>

    <!-- End All music Section -->
    <!-- Vendor JS Files -->
    <script src="../static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="../static/assets/vendor/php-email-form/validate.js"></script>
    <script src="../static/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
    <script src="../static/assets/vendor/venobox/venobox.min.js"></script>
    <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="../static/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="../static/assets/js/main.js"></script>
  </body>
</html>
