<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Main Page</h1>
    <div style="overflow:auto; width:300px; height:150px;">
        <h3>my playlist</h3>
        {% for pl in total_list %}
        <ul>
            <a style="width:50;float:left;">{{ pl }}</a>
            <form action="/main/playlist", method="GET" style="width:50;float:left;">
                <button type="submit" class="btn btn-primary"> 선택 </button>
                <input type="hidden" name="playlist" value="{{pl}}">
            </form>
            <form action="/main/playlist", method="DELETE" style="width:50;float:left;">
                <button type="submit" class="btn btn-primary"> 삭제 </button>
                <input type="hidden" name="_method" value="DELETE"/>
                <input type="hidden" name="playlist" value="{{pl}}">
            </form>
            <br/>
        </ul>
        {% endfor %}
    </div>

    <form action="/main/playlist" , method="POST">
        <button type="submit" class="btn btn-primary">make_playlist</button>
    </form>

    <!-- <form action="/main/playlist" , method="GET">
        <button type="submit" class="btn btn-primary">select_playlist</button>
    </form>

    <form action="/main/playlist" , method="DELETE">
        <input type="hidden" name="_method" value="DELETE"/>
        <input type="text" name="playlist_name">
        <button type="submit" class="btn btn-primary">delete_playlist</button>
    </form> -->

    <audio controls>
        <source src="{{url_for('static', filename='music/26378.mp3')}}" type="audio/mpeg">
    </audio><br/>
    <audio controls>
        <source src="{{url_for('static', filename='music/38083.mp3')}}" type="audio/mpeg">
    </audio><br/>
    <audio controls>
        <source src="{{url_for('static', filename='music/8220595.mp3')}}" type="audio/mpeg">
    </audio><br/>
    <div style="overflow:auto; width:500px; height:150px;">
        <h3>PlayList</h3>
        <h4>{{ playlist_name }}</h4>
        {% for one_list in playlist %}
        <li>{{ one_list }}</li>
        {% endfor %}
    </div>

    <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/BBdC1rl5sKY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     -->
    <form action="/addpage/song", method="GET">
        <button type="submit" class="btn btn-primary">addsong</button>
        <input type="hidden" name="song_name" value="">
    </form>

    <form action="/main/update-recommand", method="GET">
        <button type="submit" class="btn btn-primary">update</button>
    </form>

    
</body>
</html>