<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Song info</h1>

    <h3>{{ song_data.get_song_ids()[0] }}   {{ song_data.get_song_title()[0] }}</h3>
    <h4>{{ song_data }}</h4>

    <button type='button' onclick="window.location.href='/addpage'">button</button>
    <form action="/songinfo/insert" method="POST">
        <button type='submit'>추가</button>
        <input type="hidden" name="song_id" value={{song_data.get_song_ids()[0]}}>
    </form>
    
</body>
</html>